window.background decoration {
	border-radius: 0;
}

headerbar.titlebar.default-decoration {
	padding: 2px;
	font-size: 12px;
	border-radius: 0;
	font-family: 'Monoid';
}

headerbar.titlebar.default-decoration .titlebutton {
	padding: 0px;
}

window.csd,             /* gtk4? */
window.csd decoration { /* gtk3 */
  box-shadow: none;
}